CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

Tools/

Libraries/*
!Libraries/ftgl-code-1266-trunk
!Libraries/ftgl-code-1266-trunk_linux

Engine/CMakeLists.txt
Engine/build/
Engine/*/*.exe
Engine/*/*.ilk
Engine/*/*.pdb
Engine/*.ncb
Engine/*.suo
Engine/Engine/*/
!Engine/Engine/lua/
Engine/Engine/*.user

Engine/Debug/*/
Engine/Release/*/
# what is the directory for profile builds under windows again?

# this is ugly because we can't unignore if the parent was ignored
!Engine/Debug/data/
Engine/Debug/data/*
!Engine/Debug/data/progs/
!Engine/Debug/data/autoexec.cfg
!Engine/Debug/data/game.cfg
!Engine/Debug/data/keybindings_default.cfg
!Engine/Debug/data/maps/
!Engine/Debug/data/shaders/
!Engine/Debug/profiling/
Engine/Debug/profiling/result/*
